#background {
	background-color:#525C65;
	width:900px;
	height:500px;
	border-radius: 15px;
	margin:auto;
}

#one {
	fill:#76EEC6;
	stroke:none;
	stroke-width:2px;
}

#two {
	fill:#32CC99;
	stroke:none;
	stroke-width:2px;
}

#three {
	fill:#28AE7B;
	stroke:none;
	stroke-width:2px;
}

#four {
	fill:#238E68;
	stroke:none;
	stroke-width:2px;
}

#five {
	fill:#32CD99;
	stroke:none;
	stroke-width:2px;
}

#six {
	fill:#7FFFD4;
	stroke:none;
	stroke-width:2px;
}

#seven {
	fill:#218868;
	stroke:none;
	stroke-width:2px;
}

#eight {
	fill:#458B74;
	stroke:none;
	stroke-width:2px;
}

#nine{
	fill:#00FFAA;
	stroke:none;
	stroke-width:2px;
}

#ten {
	fill:#66CDAA;
	stroke:none;
	stroke-width:2px;
}







